@model OnlineExaminationSystem_Mvc.ViewModels.Batch.BatchEntryVm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Content{

    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />


}
<form method="POST">

    <div class="form-group">
        <div class="col-md-8">
            <h2> Batch Details</h2>
        </div>
        
        <div class="col-md-2 col-md-offset-2 form-group " style="margin-top: 30px">
            <a href="@Url.Action("SearchCourse", "Course")" class="elements"> <span class="glyphicon glyphicon-chevron-left">Search</span></a>
        </div>
    </div>
</form>
<div>
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#tab1">Basic Information</a>
        </li>
        <li>
            <a href="#tab2">Assign Students</a>
        </li>
        <li>
            <a href="#tab3">Assign Trainers</a>
        </li>
        <li>
            <a href="#tab4">Schedule Exams</a>
        </li>
    </ul>
</div>
<section id="tab1" class="tab-content active">
    <form method="POST">
        <h2> Batch Update</h2>
        <hr />



        <div class="form-horizontal">
            <div class="form-group">
                <label for="OrganizationId" class="col-md-2"> Organization: </label>
                <div class="col-md-10">
                    @Html.DropDownListFor(c => c.OrganizationId, Model.OrganizationSelectListItems, "----Select---", new { @class = "form-control" })
                    @Html.HiddenFor(c => c.OrganizationId)
                </div>
            </div>
            <div class="form-group">
                <label for="CourseId" class="col-md-2"> Course: </label>
                <div class="col-md-10">
                    @Html.DropDownListFor(c => c.CourseId, Model.CourseSelectListItems, "----Select---", new { @class = "form-control" })
                    @Html.HiddenFor(c => c.CourseId)
                </div>
            </div>


            <div class="form-group">
                <label for="CourseName" class="col-md-2"> Batch No: </label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.BatchNo, new { type = "text", @class = "form-control", @id = "CourseName" })
                    @Html.ValidationMessageFor(c => c.BatchNo, "", new { @style = "color:red" })
                    @Html.HiddenFor(b=>b.Id)
                </div>
            </div>
            <div class="form-group">
                <label for="CourseCode" class="col-md-2"> Description: </label>
                <div class="col-md-10">
                    @*<input type="text" id="CourseCode" name="CourseCode" class="form-control"/>*@
                    @Html.TextAreaFor(model => model.Description, 3, 20, new { type = "text", @class = "form-control", @id = "CourseCode" })
                    @Html.ValidationMessageFor(c => c.Description, "", new { @style = "color:red" })
                </div>
            </div>
            <div class="form-group">
                <label for="Duration" class="col-md-2"> Start Date: </label>
                <div class="col-md-10">
                    <div class="container">
                        <div class="row">
                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <div class='input-group date' id='startDateTimePicker'>
                                        @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*@Html.TextBoxFor(model => model.StartDate, new {type = "date", @class = "form-control", @id = "Duration"})
                        @Html.ValidationMessageFor(model => model.StartDate, "", new {@style = "color:red"})*@
                </div>
            </div>
            <div class="form-group">
                <label for="Credit" class="col-md-2"> End Date: </label>
                <div class="col-md-10">
                    @*<input type="text" id="Credit" name="Credit" class="form-control"/>*@
                    <div class="container">
                        <div class="row">
                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <div class='input-group date' id='endDateTimePicker'>
                                        @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*@Html.TextBoxFor(model => model.EndDate, new { type = "date", @class = "form-control", @id = "Credit" })
                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @style = "color:red" })*@
                </div>
            </div>


            <div class="form-group">
                <div class="row " style="margin-left: 17px">
                    <input type="submit" value="Update" id="UpdateButton" class="btn btn-primary col-md-offset-2" />
                </div>
            </div>


        </div>
    </form>


</section>
<section id="tab2" class="tab-content hide">
    <div class="form-horizontal">
        <div class="form-group" style="margin-top: 10px">
            <label for="Student" class="col-md-2"> Students: </label>
            <div class="col-md-6" id="StudentDropDown">

                @Html.DropDownListFor(c => c.StudentId, Model.StudentsSelectListItems, "----Select---", new { @id = "StudentDD", @class = "form-control" })
               @Html.HiddenFor(c => c.StudentId)
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2 form-group ">
                <button class="btn btn-primary" id="AddStudentButton">Add <span class="glyphicon glyphicon-chevron-right"></span></button>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">Added Student for @Model.BatchNo</div>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover table-striped table-responsive" id="studentDetailsTable">

                        <thead>
                            <tr style="background-color: green; color: white; font-weight: bold; text-align: center">
                                <td>Sl</td>
                                <td>Name</td>
                                <td>Profession</td>
                                <td>Action</td>
                            </tr>
                        </thead>

                        <tbody id="studentsDetailsBody" style="text-align: center"></tbody>
                    </table>
                    @*<input type="hidden" id="rowIndexTrainer" />*@
                    <div class="form-group">
                        <div class="row" style="margin-left: 18px">
                            <input type="submit" value="Save" id="SaveStudentButton" class="btn btn-info col-md-offset-2" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



</section>
<section id="tab3" class="tab-content hide">
    <div class="form-horizontal">
        <div class="form-group" style="margin-top: 10px">
            <label for="Trainer" class="col-md-2"> Trainer: </label>
            <div class="col-md-6" id="TrainerDropDown">

                @Html.DropDownListFor(c => c.TrainerSelectListItems, Model.TrainerSelectListItems, "----Select---", new { @id = "Trainer", @class = "form-control" })
                @Html.HiddenFor(c => c.TrainerId)
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2 form-group ">
                <button class="btn btn-primary" id="AddTrainerButton">Add <span class="glyphicon glyphicon-chevron-right"></span></button>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">Added Trainer for @Model.BatchNo</div>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover table-striped table-responsive" id="tranierDetailsTable">

                        <thead>
                            <tr style="background-color: green; color: white; font-weight: bold">
                                <td>Sl</td>
                                <td>Name</td>
                                <td>Lead Trainer?</td>
                                <td>Action</td>
                            </tr>
                        </thead>

                        <tbody id="tranierDetailsBody"></tbody>
                    </table>
                    <input type="hidden" id="rowIndexTrainer" />
                    <div class="form-group">
                        <div class="row" style="margin-left: 18px">
                            <input type="submit" value="Save" id="SaveTrainerButton" class="btn btn-info col-md-offset-2" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>





    <div class="modal fade" id="OptionModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title centered">Trainer Edit</h4>
                </div>
                @using (Ajax.BeginForm("TrainerUpdate", "Batch", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onBatchSuccess(data)" }, new { enctype = "multipart/form-data" }))
                {
                    <div class="modal-body" id="modalContent">

                    </div>
                }
            </div>
        </div>
    </div>
</section>
<section id="tab4" class="tab-content hide">


    @using (Ajax.BeginForm("ExamAssign", "Batch", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "PartialViewExam", OnSuccess = "onSaveSuccess(data)" }))
    {
        <div id="PartialViewExam">
            @{
        Html.RenderAction("BatchExamAssign", "Batch", FormMethod.Get);
            }
        </div>
    }

   



</section>









@section scripts{
  <script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/AppData/Batch/Entry.js"></script>
}
